{% extends 'base.html' %}
{% block content %}
<div class="column is-two-thirds">
    <div class="block">
        <h1 class="title is-1 has-text-primary">{{ profile.user.username|upper }}'s Dweets</h1>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="buttons has-addons mb-4">
            {% if user.is_authenticated and profile in user.profile.follows.all %}
                <button class="button is-success is-static">Following</button>
                <button class="button is-danger" name="follow" value="unfollow">Unfollow</button>
            {% elif user.is_authenticated %}
                <button class="button is-success" name="follow" value="follow">Follow</button>
                <button class="button is-danger is-static">Unfollow</button>
            {% endif %}
        </div>
    </form>
    <div class="content">
        {% for dweet in profile.user.dweets.all %}
            <div class="box" style="background-color: var(--light-bg);">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-48x48">
                            <img src="https://w7.pngwing.com/pngs/178/595/png-transparent-user-profile-computer-icons-login-user-avatars-thumbnail.png" alt="User avatar">
                        </p>
                    </figure>
                    <div class="media-content">
                      <div class="content" style="position: relative;">
                          <p>
                              <strong>{{ dweet.user.username }}</strong>
                              <span class="timestamp" style="position: absolute; top: 0; right: 0; font-size: 0.8rem; color: #999;">
                                since {{ dweet.created_at|timesince }} ago
                              </span>
                              <br>
                               {{ dweet.body }}
                          </p>
                      </div>
                  </div>
                </article>
            </div>
        {% endfor %}
    </div>
</div>

<div class="column is-one-third margintop" style="">
  <a href="{% url 'dwitter:profile_list' %}" class="button is-dark is-outlined is-fullwidth mb-4">All Profiles</a>
    <div class="box" style="background-color: var(--light-bg);">
        <h3 class="title is-4 has-text-primary">{{ profile.user.username }} follows:</h3>
        <ul>
            {% for following in profile.follows.all %}
                <li><a href="{% url 'dwitter:profile' following.id %}" class="has-text-dark">{{ following }}</a></li>
            {% empty %}
                <li class="has-text-grey">Not following anyone yet.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="box" style="background-color: var(--light-bg); margin-bottom: 20px;">
        <h3 class="title is-4 has-text-primary">{{ profile.user.username }} is followed by:</h3>
        <ul>
            {% for follower in profile.followed_by.all %}
                <li><a href="{% url 'dwitter:profile' follower.id %}" class="has-text-dark">{{ follower }}</a></li>
            {% empty %}
                <li class="has-text-grey">No followers yet.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}